# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

deployment-package/*
.idea/*
.idea
.idea/workspace.xml
prompts/*



# Virtual environment
.env/
.env

# Python dependencies
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

function.zip

